<div *ngIf="products; else elseBlock">
  <table class="datatable">
    <thead>
      <tr>
        <th>
          <input
            type="checkbox"
            [checked]="isAllCheckBoxChecked()"
            (change)="checkAllCheckBox($event)"
            title="checkAll"
          />
        </th>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let p of products; let i = index; let odd = odd"
        [ngClass]="odd ? 'odd_col' : 'even_col'"
      >
        <td>
          <input
            type="checkbox"
            value="{{ p.id }}"
            [(ngModel)]="products[i].checked"
            title="checkOne"
          />
        </td>
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.code }}</td>
        <td>{{ p.price }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #elseBlock>No record found</ng-template>
